services:
  db:
    image: postgres:15-alpine
    container_name: postgres_prod
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: nest_api_prod
    restart: always
    ports:
      - '3000:3000'
    environment:
      DB_HOST: db # 로컬 localhost 대신 서비스 이름 'db' 사용
      DB_PORT: 5432
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
    depends_on:
      - db
volumes:
  postgres_data:
